@import url("./fonts.css");

* {
	margin: 0;
}

main {
	display: flex;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: url("../img/background.jpg") no-repeat fixed;
	background-size: cover;
	flex-direction: column;
	padding: 30px 0 0 0;
}

.caixa {
	width: 50%;
	background: radial-gradient(circle, white, gray);
	color: white;
	text-align: center;
	margin-bottom: 40px;
	color: black;
	border-radius: 10px;
}

.titulo {
	margin-top: 20px;
}
.titulo-capitulo {
	margin: 15px 0;
}
.paragrafo {
	margin-bottom: 25px;
}

.font-18px {
	font-size: 18px;
}
